.classpath
.project
.settings
.metadata
bin
bower_components
build
target
*.class
*.jar
*.war
*.ear
*.com
*.dll
*.exe
*.zip
*.iso
*.tar
*.tar.gz
*.tgz
*.o
*.so
CVS
.DS_Store
.Trashes
Thumbs.db
desktop.ini
*~
*.bak
*.bkp
*.tmp
*.qvw
*.qvd
*.ltz
*.xlg
*.xlz
*.log
