<!DOCTYPE html>
<html ng-app="pigJs">
<head>
	<meta charset="utf-8">
	<!-- fontes de estilo -->
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../lib/mycss/style-custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- fim -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Adicionando o angular ao projeto -->
	<script src="../lib/angular/angular.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/controllers/pigUsuarioCtrl.js"></script>
	<title>Cadastro Usuario</title>
</head>
<body>
<div ng-include="'menu.html'"></div>
<div class="container mt-3" ng-controller="pigUsuarioCtrl">
	<div class="row">
		<div class="col-md-8">
			

			<div class="card">
				<div class="card-header">Cadastrar Usuário</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-lg-9 col-md-10 form-group ">
								<label for="nome-usuario">Nome</label>
								<input type="text" required="true" class="form-control" id="nome" placeholder="Nome"
								ng-model="usuario.nome">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-9 col-md-10 form-group">
								<label for="email-usuario">Email</label>
								<input type="text" required="true"  class="form-control" id="email" placeholder="Digite seu email" ng-model="usuario.email">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-2 form-group">
							<label for="password-usuario">Senha</label>
							<input type="password" required="true" class="form-control" id="password" placeholder="Senha"
							ng-model="usuario.senha">
							</div>


							<div class="col-lg-4 col-md-2 form-group">
							<label for="password-usuario">Confirmar senha</label>
							<input type="password" required="true" class="form-control" id="confirm_password" placeholder="Confimar senha">
							</div>

						</div>
						<div class="dropdown-divider"></div>
						<button class="btn btn-success" ng-click="cadUsuario(usuario)">Salvar</button>
						<button type="submit" class="btn btn-danger">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
		{{usuario}}
		<div class="card col-md-4">
			<div class="card-body">
				<h1>Notificações</h1>
				{{usuarios}}
			</div>
		</div>
	</div>
</div>

<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../lib/popper/dist/popper.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>