<!DOCTYPE html>
<html ng-app="pigJs">
<head>
	<meta charset="utf-8">
	<!-- fontes de estilo -->
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../lib/mycss/style-custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
	<!-- fim -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Adicionando o angular ao projeto -->
	<script src="../lib/angular/angular.js"></script>
	<script src="../js/app.js"></script>
	<script src="../js/controllers/pigMatrizCtrl.js"></script>
	<title>Cadastro Matriz</title>
</head>
<body>
<div ng-include="'menu.html'"></div>

<div class="container mt-3" ng-controller="pigMatrizCtrl">
	<div class="row">
		<div class="col-md-8">
			

			<div class="card">
				<div class="card-header">Cadastrar Matriz</div>
				<div class="card-body">
					<form name="matrizForm">
						<div class="row">
							<div class="col-lg-3 col-md-6 form-group ">
								<label for="codigo-matriz">Código</label>
								<input type="text" class="form-control" id="codigo-matriz" placeholder="Digite o código" ng-model="matriz.identificador" ng-required="true" name="codigo">
							</div>
							<div class="col-lg-5 col-md-6 form-group ">
								<label for="raca-matriz">Raça</label>
								<input type="text" class="form-control" id="raca-matriz" placeholder="Digite a raça"
								ng-model="matriz.raca">
							</div>
							<div class="col-lg-4 col-md-12 form-group ">
								<label for="data-matriz">Data Nascimento</label>
								<input type="date" class="form-control" id="data-matriz" 
								ng-model="matriz.dataNascimento">
							</div>

						</div>
						<div class="row">
							<div class="col-lg-4 col-md-6 form-group">
								<label for="estagio-matriz">Estágio</label>
								<select id="estagio-matriz" class="form-control" ng-model="matriz.estagio"
								ng-options="estagio for estagio in estagios" >
									<option value="">Selecione um estagio</option>									
								</select>
							</div>
							<div class="col-lg-3 col-md-6 form-group">
								<label for="peso-matriz">Peso</label>
								<input type="text" class="form-control" id="peso-matriz" placeholder="Digite o peso"
								ng-model="matriz.peso">
							</div>
							<div class="col-lg-5 col-md-12 form-group">
								<label for="historico-matriz">Histórico</label>
								<input type="file" class="form-control-file" id="historico-matriz" ng-model="matriz.arquivo">
							</div>
						</div>
						<div class="dropdown-divider"></div>
						<div class="alert alert-danger" ng-show="matrizForm.codigo.$invalid && 
						matrizForm.peso.$invalid && matrizForm.raca.$invalid && matrizForm.dataNascimento.$invalid && 
						matrizForm.codigo.$dirty">
							Por favor, preencha todos os campos
						</div>
						<button ng-click="cadMatriz(matriz)" class="btn btn-success"  ng-disabled="matrizForm.$invalid">
							Salvar
						</button>
						<button type="submit" class="btn btn-danger">Cancelar</button>
						
					</form>
					{{matriz}}
					<br>
					{{matrizes}}
				</div>
			</div>
		</div>
		<div class="card col-md-4">
			<div class="card-body">
				<h1>Notificações</h1>
			</div>
		</div>
	</div>
</div>

<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../lib/popper/dist/popper.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>