<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- fontes de estilo -->
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../lib/mycss/style-custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- fim -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>Cadastro Usuario</title>
</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-blublu">
		<div class="container">
			<a href="#" class="navbar-brand mb-0">Administração</a>

			<button class="navbar-toggler navbar-toggler-right" type="button"
			data-toggle="collapse" data-target="#navbarAdm"
			aria-control="navbarAdm" aria-expanded="false"
			aria-label="Navegação Toggle">

			<span class="navbar-toggler-icon"></span>
		</button>

		<div id="navbarAdm" class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="nav-link" href="#"> Home </a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
					id="gerenciaDrop" href="#"> Gerencia </a>
					<div class="dropdown-menu">
						<a class="dropdown-item" href="#"> Usuários </a>
						<a class="dropdown-item" href="#"> Matrizes </a>

					</div>
				</li>
			</ul>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a class="nav-link text-center dropdown-toggle"
					data-toggle="dropdown" id="userDrop" href="#">
					<i class="fa fa-user"></i>
					Adryel Julião
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#">
						<i class="fa fa-sign-out"></i>
						Logout
					</a>
					<a class="dropdown-item" href="#">
						<i class="fa fa-wrench"></i>
						Configurações
					</a>

				</div>
			</li>
		</ul>

	</div>
</div>
</nav>

<div class="container mt-3">
	<div class="row">
		<div class="col-md-8">
			

			<div class="card">
				<div class="card-header">Cadastrar Usuário</div>
				<div class="card-body">
					<form>
						<div class="row">
							<div class="col-lg-9 col-md-10 form-group ">
								<label for="nome-usuario">Nome</label>
								<input type="text" required="true" class="form-control" id="nome-usuario" placeholder="Nome">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-9 col-md-10 form-group">
								<label for="email-usuario">Email</label>
								<input type="text" required="true" pattern="" class="form-control" id="email-usuario" placeholder="Digite seu email">
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 col-md-2 form-group">
							<label for="password-usuario">Senha</label>
							<input type="password" required="true" class="form-control" id="password-usuario" placeholder="Senha">
							</div>


							<div class="col-lg-4 col-md-2 form-group">
							<label for="password-usuario">Confirmar senha</label>
							<input type="password" required="true" class="form-control" id="password-usuario" placeholder="Confimar senha">
							</div>

						</div>
						<div class="dropdown-divider"></div>
						<button type="submit" class="btn btn-success">Salvar</button>
						<button type="submit" class="btn btn-danger">Cancelar</button>
					</form>
				</div>
			</div>
		</div>
		<div class="card col-md-4">
			<div class="card-body">
				<h1>Notificações</h1>
			</div>
		</div>
	</div>
</div>

<script src="../lib/jquery/dist/jquery.js"></script>
<script src="../lib/popper/dist/popper.js"></script>
<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>

</body>
</html>