<!DOCTYPE html>
<html ng-app="listarMatriz">
<head>
	<title></title>

	<meta charset="utf-8">
	<!-- fontes de estilo -->
	<link rel="stylesheet" type="text/css" href="../lib/bootstrap/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../lib/mycss/style-custom.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<!-- fim das fontes de estilo -->
	<!--fontes java script-->
	<script src="../lib/jquery/dist/jquery.js"></script>
	<script src="../lib/popper/dist/popper.js"></script>
	<script src="../lib/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../lib/angular/angular.js"></script>

	<!--fim fontes java script-->

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!--teste só para prototipo-->

	<script type="text/javascript">
			angular.module("listarMatriz",[]);
			angular.module("listarMatriz").controller("listarMatrizCtl",function($scope,$http){
				$http.get("http://localhost:8080/PigManager/matriz").then(function (response) {
						$scope.matrizes = response.data;
					});
			});
		</script>
</head>

<body ng-controller="listarMatrizCtl">
	<!--navbar-->
	<div ng-include="'menu.html'"></div>
	<!--fim da navbar-->
		<div class="container mt-3">
			<div class="row">
				<div class="col-lg-8">
					<div class="card">
						<div class="card-header"><h5>Lista de Matrizes<h5></div>
							<div class="card-body">
								<div class="row">
									<div class="form-group table-responsive">
										<table id="tabela" class="table table-hover table-bordered" ng-app="matriz in matrizes">
										  <thead class="text-center">
										    <tr>
										      <th scope="col">Código</th>
										      <th scope="col">Raça</th>
										      <th scope="col">Peso</th>
													<th scope="col">Data Nascimento</th>
													<th scope="col">Editar</th>
													<th scope="col">Excluir</th>
										    </tr>
										  </thead>
										  <tbody class="text-center">
										    <tr ng-repeat="matriz in matrizes">
										      <th scope="row" class="col-md-1">
														{{matriz.codigo}}
													</th>
										      <td class="">{{matriz.raca}}</td>
										      <td class="">{{matriz.peso}}</td>
													<td class="">{{matriz.dataNascimento}}</td>
										      <td class="">
														<button class="btn btn-primary">
									            <i class="fa fa-pencil" aria-hidden="true"></i>
									          </button>
													</td>
													<td class="col-md-1">
														<button class="btn btn-danger">
									            <i class="fa fa-trash-o" aria-hidden="true"></i>
									          </button>
													</td>
										    </tr>
										  </tbody>
										</table>
									</div>
								</div>
								<div class="row">
									<a class="btn btn-secondary ml-auto" href="cadastro-matriz.html">
										<i class="fa fa-plus" aria-hidden="true"></i>
											Cadastrar
									</a>
								</div>
							</div>

						</div>
				</div>
					<div class="col-md-4">
						<div class="card">
							<div class="card-body">
								<h1>Notificações</h1>
							</div>
						</div>
					</div>
			</div>
		</div>
	</body>
</html>
