  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">Lista de Matrizes</div>
          <div class="card-body">
            <div class="row">
              <div class="table-responsive">
                <table id="example" class="table table-hover table-bordered table-sm" ng-app="matriz in matrizes">
                  <thead class="text-center">
                    <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Estagio</th>
                      <th scope="col" class="col-md-1">Editar</th>
                      <th scope="col" class="col-md-1">Excluir</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr ng-repeat="matriz in matrizes | orderBy:'estagio'">
                      <th scope="row" class="col-md-1">
                        {{matriz.identificador}}
                      </th>
                        <td class="">{{matriz.estagio | lowercase}}</td>
                        <td class="">
                          <button class="btn btn-sm btn-primary">
                                  <i class="fa fa-pencil" aria-hidden="true"></i>
                          </button>
                        </td>
                    <td class="col-md-1">
                      <button class="btn btn-sm btn-danger">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                      </button>
                    </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
